{% extends "layout.html" %}

{% block body %}
<div class="row jumbotron">
    <div class="col-sm-4">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. In lacinia nulla tortor, porttitor mattis metus commodo in. Etiam nec sapien elit. Integer gravida et enim ut elementum. Praesent sollicitudin porttitor quam vitae blandit. Fusce iaculis erat eu cursus venenatis. Nulla suscipit bibendum mauris.
        <br>
        <br>
        <a class="btn btn-primary btn-lg col-sm-12" href="/algorithms/image_processing" role="button">Image Processing</a>
    </div>
    <div class="col-sm-4">
        Integer egestas sed nulla id semper. Pellentesque ac enim nisi. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Suspendisse pharetra justo ut viverra fringilla.
        <br>
        <br>
        <a class="btn btn-primary btn-lg col-sm-12" href="/algorithms/computer_vision/" role="button">Computer Vision</a>
    </div>
    <div class="col-sm-4">
        Quisque finibus ligula libero, a consectetur velit convallis ac. Suspendisse scelerisque neque nec enim finibus, sed euismod mauris ornare. Fusce ornare nunc ut ante scelerisque sodales.
        <br>
        <br>
        <a class="btn btn-primary btn-lg col-sm-12" href="/algorithms/machine_learning/" role="button">Machine Learning</a>
    </div>
</div>
<br>
{% endblock %}
