{% extends "layout.html" %}

{% block body %}
    <div class="jumbotron">
        <p class="lead"> This site offers a publicly available REST API that processes images using a set of available algorithms. Choose an image and customize algorithm parameters to have it processed the way you want. To get started with the API, please download our documentation zip-file which contains instructions on how to use the API as well as an example python application that makes API calls.
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/api/documentation/" download role="button">Download</a>
    </div>
{% endblock %}
