{% extends "layout.html" %}

{% block body %}
<div class="jumbotron">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">This website hosts various scientific algorithms in the fields of image processing, computer vision and machine learning, developed by G. Azzopardi.
  <hr class="my-4">
  <p>Learn more about specific algorithms or use the ineractive interface to run them. Alternatively you can use the API to run scripts with your own input.</p>
  <a class="btn btn-primary btn-lg" href="/algorithms/" role="button">Get started</a>
</div>
{% endblock %}
